#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
    }
#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #f2f2f2;
    border-top: 6px solid #56829e ;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
    }
    .topnav-right {
        float: right;

      }

     table { border-collapse: collapse; width: 100%; }
   
     #myHeader{
         background-color: lightgray;
     }
     .myHeader{
        background-color: lightgray;
    }
      th{
        background-color: lightgray !important;
      }
      
      .tableFixHead {
        overflow: scroll;
        height: 550px;
      }
      
      .tableFixHead thead th {
        position: sticky;
        top: 0;
      }
    /*
.navbar{
    background-color: #009490 ;
    min-height: 100px;

    
}*/

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
div.navbar-default > div.container {background-color:white}
.btn-sm{
    width: 30px;
    height: 30px;
}

@-webkit-keyframes animate-preloader {
    0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    }
    100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    }
    }
 @keyframes animate-preloader {
    0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    }
    100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    }
    }
    #navbarNavAltMarkup {
        display: inline-block;
        font-size: 16px;

    }
 /*   .navbar-nav{
        display: initial;
    }
 .hiddenRow {
    padding: 0 !important;
}
+/
/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 767.98px) {
    .mobile{
    display: none;
} 
.mobile2{
    display: visible;
}
.btn-footer{
    width: 43%;
    height: 80px;
    font-size: 14px;
    
}
#department-header{
    width: 45%;
}
#location-header{
    width: auto;
}
#btn-address{
    padding: 25px;
    text-align: center!important;
}
.deskDevice{
    display: none;
}
.btn-xs{

    height: auto;
    font-size: 11px;
    margin: 2px;
}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    .mobile{
        display: visible;
    }
    .mobileDevice{
        display: none;
    }
    .btn-footer{
        margin: 10px;
        font-size: 17px;
        
    }
 }

/* Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... }*/